<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Project-PemWeb/public/
    
    # Jika request adalah file yang ada, langsung akses
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Jika request adalah folder yang ada, langsung akses
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Arahkan semua request lainnya ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

# Set default charset
AddDefaultCharset UTF-8

# Mencegah browsing direktori
Options -Indexes